services:
  - type: web
    name: an0notf-xmd-bot
    env: node
    buildCommand: npm install
    startCommand: node index.js
    envVars:
      - key: NODE_VERSION
        value: 18.17.0
    healthCheckPath: /health
    autoDeploy: true
    disk:
      name: session-storage
      mountPath: /tmp/session
      sizeGB: 1